<%# app/views/messages/_message_thread.html.erb %>
<%# Renders a message and all its replies recursively, delegating single-message UI to _message %>

<% depth = message.depth %>

<div class="message-thread <%= depth > 0 ? 'ml-8 border-l-2 border-base-300 pl-4' : '' %>">
  <%= render "messages/message", message: message, current_user: current_user %>

  <%# Render replies recursively %>
  <% if message.replies.any? %>
    <% message.replies.where.not(status: "pending").chronological.each do |reply| %>
      <%= render "messages/message_thread", message: reply, current_user: current_user %>
    <% end %>
  <% end %>
</div>
