<turbo-frame id="form-filler-<%= @profile[:id] %>">
  <dialog class="modal"
          data-form-filler-target="modal"
          data-action="close->form-filler#handleDialogClose">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <%= render "form_fillers/form" %>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</turbo-frame>
