<div class="max-w-2xl mx-auto">
  <h1 class="text-3xl font-bold mb-6">Edit Council</h1>

  <div class="card bg-base-100 shadow">
    <div class="card-body">
      <%= render "form", council: @council %>
    </div>
  </div>
</div>
